/* general styles */

@font-face {
  font-family: "AmazonFont";
  src: url("fuente.woff2") format("woff2");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "AmazonFont", Arial, sans-serif;
}

/* section navbar principal */

.navbar-principal {
  display: flex;
  height: 60px;
  background-color: #131921;
}

.navbar-principal * {
  color: #fff;
}

/* section navbar left */

.navbar-left {
  display: flex;
}

/* section navbar left  logo*/

.navbar-logo {
  height: 100%;
  width: 113px;
  padding: 10px;
}

.navbar-logo-img {
  height: 100%;
  width: 100%;
}

/* section navbar left location */

.send-location-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.place-location-icon {
  padding-top: 10px;
}

.send-to-location-text {
  font-size: 12px;
}

.send-to-country-text {
  font-size: 15px;
  font-weight: 600;
}

/* section navbar search */

.navbar-middle {
  display: flex;
  padding: 10px 0;
  margin: 0 15px;
  flex: 1;
}

.dropdown-all-container {
  width: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3f3f3;
}

.dropdown-all-container * {
  color: #0f1111;
}

.input-search-container {
  width: 100%;
}

.input-search {
  -webkit-text-size-adjust: 100%;
  white-space: nowrap;
  unicode-bidi: isolate;
  vertical-align: middle;
  transition: all 0.1s linear;
  /* border-radius: 3px; */
  -webkit-box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  line-height: 15px;
  padding: 7px 10px 10px 0;
  margin: 0;
  border: 0;
  height: 100%;
  font-family: inherit;
  font-size: 15px;
  background: 0 0;
  color: #111;
  outline: 0;
  -webkit-appearance: none;
  box-shadow: none;
  text-indent: 8px;
  direction: ltr;
  display: flex;
  position: static;
  float: none;
  background-color: #fff;
}

.search-button-container {
  background-color: #febd69;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

/* section navbar right */

.navbar-right {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
}

.navbar-right > * {
  margin: 0 5px;
}

.flag-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
}

.flag-img-container {
  width: 24px;
  height: 18px;
}

.flag-img {
  width: 100%;
  height: 100%;
}

.dropdown-flag-icon {
  align-self: flex-end;
}

.sign-in-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-in-text-top {
  font-size: 12px;
}

.sign-in-text-botton {
  font-size: 15px;
  font-weight: 600;
}

.dropdown-sign-in-icon {
  align-self: flex-end;
}

.history-container {
  display: flex;
  flex-direction: column;
}

.history-text-top {
  font-size: 12px;
}

.history-text-bottom {
  font-size: 15px;
  font-weight: 600;
}

.cart-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*-navbar-secundario-*/

.navbar-secundario {
  display: flex;
  height: 30px;
  background-color: #131921;
  justify-content: space-between;
}

.navbar-secundario * {
  color: #fff;
}

.separacion {
  display: flex;
}

.hamburger-menu-container {
  display: flex;
}

.hamburger-menu-icon {
  font-size: 20px !important;
}

/*-todo hamburger manu-*/
.todo-all-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-text {
  font-size: 12px;
}
/*-links-*/

.links-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.links-container * {
  margin: 0 5px;
}

.links-container p {
  font-size: 12px;
}

/*COVID txt*/

.health-container {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 10px;
}

.health-container p {
  font-size: 12px;
}

/*---main---*/
.main-container {
  background: #eaeded;
}

.main-content {
  margin: 0 auto;
  max-width: 1500px;
}

/*---Banner----*/

.banner-container {
  position: relative;
  height: 250px;
}

.chrismas-img-container {
}

.chrismas-img {
  width: 100%;
  height: 100%;
}

.arrow-container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 250px;
}

.arrow-container-left {
  position: absolute;
  left: 10px;
  top: 120px;
}

.arrow-icon-left {
  font-size: 40px !important;
}

.arrow-container-right {
  position: absolute;
  top: 120px;
  right: 10px;
}

.arrow-icon-right {
  font-size: 40px !important;
}

/*--category container--*/

.categories-container {
  position: relative;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
}

.card-category-container {
  width: 25%;
  /* background-color: #fff; */
  padding: 10px;
}

.card-category-background {
  background-color: #fff;
  padding: 15px;
}

.card-category-container > * {
}

.card-img {
  width: 100%;
  height: 100%;
}

/*--sub-carrusell--*/

.carrusell-container {
  margin: 0 auto;
  background-color: #fff;
  position: relative;
  margin: 10px;
}

.carrusell-container-text {
  margin: 0 15px;
  padding: 10px;
}

.carrusell-container-text {
  font-size: 12px;
}

.cards-carrusel-cotainer {
  width: 100%;
  height: 280px;
  padding: 10px;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  background-color: #fff;
}

.card-carrusell-container {
  /* background-color: #fff; */
  width: 15%;
  flex-shrink: 0;
  padding: 10px;
}

.card-carrusell-background {
  background-color: #fff;
  padding: 15px;
}

.card-carrusell-img {
  width: 100%;
  height: 100%;
  flex: 0 0 100%;
  object-fit: cover;
  scroll-snap-align: center;
}

/*--arrows-carrusell--*/

.arrow-carrusell-container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 250px;
}

.arrow-carrusell-icon-left {
  position: absolute;
  left: 10px;
  top: 120px;
}

.arrow-carrusell-icon-right {
  position: absolute;
  top: 120px;
  right: 10px;
}

/*--card multiple images--*/

.grid-img-container {
  display: flex;
  flex-wrap: wrap;
}

.grid-img-item {
  width: 50%;
}

.card-category-background {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.grid-img-item {
  display: flex;
  flex-direction: column;
}

.link-category-container {
  margin-top: auto;
}

.footer-container {
  display: flex;
  flex-direction: column;
}

.back-top-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-self: center;
  padding: 20px;
  background-color: #37475a;
  color: #fff;
}

.footer-links-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #232f3e;
  color: #fff;
  padding: 5% 0;
}

.footer-item-container {
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
}

.title-container > p {
  font-weight: 800;
}

.links-container-footer {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.links-container-footer > p {
  margin-top: 4px;
}
